{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Home</title>

    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css'  %}">

</head>
<body>
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/site_one">News</a></li>
  <li><a href="/site_two">Contact</a></li>
  <li style="float:right"><a href="/site_three">About</a></li>
</ul>

<input type="text" name="person_name" id="person_name" placeholder="Your Name"><br>
<form action="/cgi-bin/check-in.cgi" method="post">
<input type="text" name="room_name" list="room_name"  placeholder="language">
    <datalist id="room_name">
        <option value="german">
        <option value="english">
        <option value="french">
</datalist>
</form>
<input type="button" name="button" value="Click to Start Chat" id="submit">
<script>
    document.querySelector("#submit").onclick=function(e){
        var roomname=document.querySelector("#room_name").value;
        var personname=document.querySelector("#person_name").value;
        window.location.pathname='/site_one/room/'+roomname+'/'+personname;
    }
</script>



</body>
</html>