{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google News</title>

    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css'  %}">



<ul id="fixedNavbar">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/news">News</a></li>
  <li><a href="/contact">Contact</a></li>
  <li style="float:right"><a href="/about">About</a></li>
</ul>
</head>

</head>
<body style="background-color: white">
<div class="newsBody">
    <div class="jumbotron" style="color:black; margin-top: 50px;">

    <h6 style="color:black">
        Google News

    </h6>

    </div>


    <div class="container">
    {% for new, des, i, url in mylist %}
        <h5>{{new}}</h5>
        <div class="image">
    <img src="{{i}}" alt="">
    {{value | linebreaks}}
        </div>
<div class="contents">
    <p#colorblack>{{des}}</p>
    {{value | linebreaks}}
      <a href="{{url}}">{{url}}</a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />



    {% endfor %}



    </div>
</div>

</body>
</html>