{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css'  %}">

</head>
<body id="libraryChat">
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/news">News</a></li>
  <li><a href="/contact">Contact</a></li>
  <li style="float:right"><a href="/about">About</a></li>
</ul>

<img src="{% static 'site_home/images/bar.png' %}" alt="bar" style="position: fixed; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index: -100;">

<script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.js"></script>
<script type='text/javascript'>
    $(function(){
    var overlay = $('<div id="overlay"></div>');
    overlay.show();
    overlay.appendTo(document.body);
    $('.popup').show();
    $('.close').click(function(){
    $('.popup').hide();
    overlay.appendTo(document.body).remove();
    return false;
    });


    $('.x').click(function(){
    $('.popup').hide();
    overlay.appendTo(document.body).remove();
    return false;
    });
    });
</script>

<script>
    function goBack() {
        window.history.go(-2);
    }
</script>

    <div class='popup'>
    <div class='cnt223'>
    <h3>STOP! Show me your ID.</h3>

        <div class="bodyguardBar">
        <img src="{% static 'site_home/images/bodyguard.png' %}" alt="bodyguard">
        </div>
    <p id="colorblack">
    You must be over 18 to enter the bar!
    <br/>
    <br/>
    <a href='' class='close' style="color:green">I Am Over 18</a>
    <a href='/' class='goBack' style="color:red">I Am Not</a>
</p>
</div>
</div>

<div class="loginInputs">
    <div>
        <h1>Enter Bar Chat</h1> <!-- login header, depending on which building "library chat or bar chat" -->
    </div>
    <div class="inputName">
        <p>Enter Your Name<p>
        <input type="text" name="person_name" id="person_name" placeholder="Name" required><br>
    </div>
    <div>
        <p>Choose A Language<p>
        <select id = "room_name">
               <option value = "germanadult">German</option>
               <option value = "englishadult">English</option>
               <option value = "frenchadult">French</option>
        </select>
    </div>
    <div>
    <input type="button" name="button" value="Click to Start Chat" id="submit"></div>

    <!-- clicking on the button will redirect the user to the chatroom,
     depending on what language and name got chosen-->

    <script>
     document.querySelector("#submit").onclick=function(e){
            var roomname=document.querySelector("#room_name").value;
            var personname=document.querySelector("#person_name").value;
            window.location.pathname='/site_three/room/'+roomname+'/'+personname;
    }
    </script>
</div>


</body>
</html>