{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>

    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css'  %}">



</head>
<body>
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/news">News</a></li>
  <li><a href="/contact">Contact</a></li>
  <li style="float:right"><a href="/about">About</a></li>
</ul>
<h1 style="text-align: center; background-color: darkslategrey; padding: 21px">About Us</h1>
<img src="{% static 'site_home/images/friends.jpg' %}" alt="friends" style="display: block; margin-left: auto; margin-right: auto; width: 28%;">


<p style="text-align: center;">Three guys, three friends, three students, who created this website for your leisure.</p>
<p style="text-align: center;">This is our first website, built with a lot of passion. So, feel free to use all the features and have a good time in our virtual town.</p>
<p style="text-align: center;">Enjoy!</p>


</body>
</html>