{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css'  %}">


</head>
<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/site_one">News</a></li>
  <li><a href="/site_two">Contact</a></li>
  <li style="float:right"><a href="/site_three">About</a></li>
</ul>
<div style="height: 890px">

<img src="{% static 'site_home/images/homescreen.png' %}" alt="homescreen" usemap="#homescreen">
</div>
<map name="homescreen">
  <area shape="rect" coords="290,370,500,745" alt="library" href="/site_one" title="library" onmouseover="d(this)" onmouseout="e(this)">
  <area shape="rect" coords="520,520,955,745" alt="coffee shop" href="/site_two" title="coffee shop" onmouseover="d(this)" onmouseout="e(this)">
  <area shape="rect" coords="970,520,1170,745" alt="bar" href="/site_three" title="bar" onmouseover="d(this)" onmouseout="e(this)">
  <area shape="rect" coords="1185,330,1685,745" alt="restaurant" href="/site_four" title="restaurant" onmouseover="d(this)" onmouseout="e(this)">
</map>

</body>
</html>
