{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>

    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css'  %}">



</head>
<body>
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/news">News</a></li>
  <li><a href="/contact">Contact</a></li>
  <li style="float:right"><a href="/about">About</a></li>
</ul>
<h1 style="margin-left: 200px;">Updates</h1>
<div class="news_list">
    <dl>
    <dt>Library Chat - 06.12.2020</dt>
    <dd>- Added feature: sending messages with enter-key</dd>
    </dl>
</div>

<div class="news_list">
    <dl>
    <dt>Library Login Design - 04.12.2020</dt>
    <dd>- The library login screen got a whole new design!</dd>
    </dl>
</div>

<div class="news_list">
    <dl>
    <dt>Bar Music Added - 03.12.2020</dt>
    <dd>- You can enjoy 24/7 music in the bar. </dd>
    </dl>
</div>


</body>
</html>