body,
html{
  min-height:100%;
}

body{
  background-color: #262b44;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;

}

h1{
  color: white;
  font-family: "Franklin Gothic Book";
}

p{
  color: white !important;
  font-family: "Franklin Gothic Book";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Franklin Gothic Book";
  font-weight: 500;
  text-transform: uppercase;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: darkslategrey;
}

.prejoin-preview-status prejoin-preview-status--warning{
  display: none;
}

.watermark leftwatermark{
  color: blue;
}

.loginInputs {
  padding: 35px 50px 50px;
  margin: -100px;
  left: 50%;
  position: absolute;
  top: 400px;
  margin: -100px 0 0 -150px;
  background-color: #333;
  box-shadow: 0px 0px 20px black;
}

#person_name {
  padding: 10px;
  width: 235px;
}

#room_name {
  padding: 10px;
  width: 259px;
}

#submit {
  padding: 10px;
  width: 259px;
  margin-top: 10px;
}

#submit:hover {
  background-color: darkslategrey !important;
  color: white !important;
}

/* CHAT */

.live_chat {
  height: 691px;
  width: 761px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  position: absolute;
  left: 30%;
  top: 135px;
  padding: 0px;
}

#div_data {

  height: 620px;
  width: 100%;
  overflow-y: auto;
}

#message {
  padding:10px;
  width:737px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#send_message {
  background:lightslategrey;
  color:white;
  padding:10px;
  border:0px;
  width:761px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#send_message:hover{
  background-color: darkslategrey !important;
  color: white !important;
}